/* Navbar Customization */
.custom-navbar {
    background-color: #E7F3E7; 
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .custom-navbar .navbar-brand {
        font-weight: bold;
        font-size: 1.5rem;
        color: #4CAF50;
    }

    .custom-navbar .navbar-nav {
        margin: 0 auto; /* ???? ?? ????? ?????? */
        display: flex; /* ???? ?? ??????? ??????? */
        justify-content: center; /* ???? ?? ??????? ?????? */
    }

    .custom-navbar .nav-link {
        color: #555;
        transition: background-color 0.3s, color 0.3s;
    }

        .custom-navbar .nav-link:hover {
            background-color: #D4EAD4; /* Slightly darker green for hover */
            color: #4CAF50;
            border-radius: 5px;
        }

/* Footer Styling */
.custom-footer {
    color: #555;
    font-size: 0.9rem;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ddd;
    background-color:aqua
}

.student-count .count-number {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.count-number {
    font-size: 30px; /* גודל גופן גדול */
    font-weight: bold; /* גופן מודגש */
    margin-bottom: 10px; /* רווח מתחת למספר */
}
